<img src="assets/admission.jpeg" width="100%" height="500px" />
<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <!-- Left Block -->
        <div class="col d-flex flex-column justify-content-center align-items-center" id="col1">
            <div class="row d-flex flex-column justify-content-left align-items-left">
                <img src="assets/hom2.jpeg" height="550px" width="500px" />
            </div>
        </div>

        <!-- Right Block-->
        <div class="col  d-flex flex-column justify-content-center align-items-center " id="col1">
            <div>
                <b>
                    <p style="font-size: 100px; color: tomato;">About Us</p>
                </b>
            </div>
            <div class="contact">
                <p><b>International School is the center for excellence. The school runs under the Indian Technical
                        Computer Institute (ITCI) trust which is registered under trust and society act, ITCI formed
                        in
                        the
                        year
                        1996 with educational bylaws.</b><br>

                    ITCI started the international school in the year 2009-2010 with the vision of quality
                    education. ITCI’ CIS is registered under Government of Maharashtra SSC Board and proposed
                    Central
                    Government, CBSE Board. We have taken an initiative towards the progress of India by offering
                    best
                    global practices in children through an integrated research based international curriculum.

                    Our aim is to enhance and develop the capabilities of the students to the maximum. We believe in
                    the
                    holistic development of the child and hence follow methodologies ensuring strong moral, social,
                    emotional, and physical development.
                </p>
                <input type="submit" class="btn" value='Read more'>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <!-- Left Block -->
        <div class="col d-flex flex-column justify-content-center align-items-center">
            <div class="row d-flex flex-column justify-content-left align-items-left">

                <b>
                    <p style="font-size: 40px; color:red;">Core Values</p>
                </b>
            </div>
            <div>
                <b> Cambridge International School seeks to articulate its
                    vision and mission through its core values:

                </b>
            </div>
            <div>
                * Find happiness of the kids, work hard with them to
                polish their talent and led them to success.
                <br><br>
                * Discipline
                <br><br>
                * Dedication
                <br><br>
                * Teamwork
                <br><br>
                * Participation
                <br><br>
                * Honesty
                <br><br>
                * Respect everyone
                <br><br>
                * Appreciation and motivation
                <br><br>
                * Emotional bonding with everyone
                <br><br>
                * Be a friend, philosopher and guide to every student
                Spirituality
                Our Vision


            </div>
        </div>

        <!-- Right Block-->
        <div class="col  d-flex flex-column justify-content-center align-items-center " id="col11">
            <div>
                <b>
                    <p style="font-size: 30px; color: rgb(66, 3, 3);">Our Vision</p>
                </b>
            </div>
            <div class="contact">
                <p>Our vision is to create unique blend of the ancient
                    Indian Guru-Shishya Parampara with the modern methodology
                    and to promote internationalism by creating dynamic leaders
                    and responsible citizens.

                </p>
            </div>
            <div>
                <b>
                    <p style="font-size: 30px; color: rgb(73, 5, 5);">Our Mission

                    </p>
                </b>
            </div>
            <div class="contact">
                * Creating world leaders with the humility of a saint,
                knowledge of a Learned and wisdom of a Guru.
                <br><br>
                * Create an ambience that is a blend of Vedic values and
                the teachings of the modern world.
                <br><br>
                * Emphasis laid on providing safe, challenging and relevant learning environment that inspires and
                creates pathways for students’ success.
                <br><br>
                * To prescribe and implement curriculum for physical, mental, emotional, spiritual and intellectual
                enlistment for achieving multi faceted development and growth of the younger generation.



            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3 my-3" style="height: 200px" *ngFor="let item of list">
            <img [src]="item.img" alt="" style="height: 100%; width: 100%; object-fit: cover" />
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row" style="height: 200px" id="col12">
        <div class="item">
            <fa-icon [icon]="faSchool" style="font-size: 50px; margin: 150px;"></fa-icon>

            <b> Moreover, the school plays an important role in embedding Indian culture and values like honesty...!</b>
        </div>
        <div class="item">
            <fa-icon [icon]="faAddressCard" style="font-size: 50px; margin: 150px;"></fa-icon>

            <b> Address :-
                International School
                Maharashtra, India.
            </b>
        </div>

    </div>
</div>